@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Thin.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Light.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Regular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Medium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-SemiBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Black.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'MapoDacapo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoDacapoA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Apple SD Gothic Neo';
    overflow-x: hidden;
    overflow-y: auto;
}

/* 헤더 */
header{
    display: flex;
    position: sticky;    
}
header ul{
    display: flex;
}
header li a{
    display: block;
    align-items: center;
    font-family: 'Apple SD Gothic Neo';
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.75rem;
    margin-left: 4.125rem;
    margin-top: 1.75rem;
    transition: 0.3s; 
}
header li a:hover{
    color: #0ACC00;
}

/* 섹션 공통 */
.section{
    width: 100%;
    height: 100vh;
}

/* 푸터 */
.footer_flex{
    display: flex;
    gap: 7.375rem;
}
footer{
    width: 100%;
    height: 635px;
}
footer hr{
    border: 1px solid #C2CC00;
}
footer h2{
    font-size: 2.25rem;
    text-transform: uppercase;
    color: #089900;
    margin-top: 2.875rem;
}
footer p{
    font-size: 2rem;
}
.left_wrap{
    margin-left: 11.25rem;
}
.foot_title p{
    margin-top: 2.9275rem;
    margin-bottom: 1.8125rem;
}
.mail_box{
    width: 28.5625rem;
    height: 6.6875rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    border: 1px solid #089900;
    border-radius: 0.625rem;
    margin-bottom: 3.5625rem;
}
.mail_box p{
    font-size: 2rem;    
}
.mail_box img{
    margin-left: 1.875rem;
}
.v_line{
    border-left: 1px solid #C2CC00;
}
.input_wrap{
    margin-top: 3.9375rem;   
}
.input_wrap input{
    height: 3.275rem;
    display: block;
    font-size: 1.5rem;
    border: none;
    border-bottom: 1px solid #999999;
}
.btn_wrap button{
    width: 7.5rem;
    height: 3.0625rem;
    font-size: 1.5rem;
    border: 1px solid #000;
    border-radius: 0.625rem;
    margin-top: 16.375rem;
}
address{
    font-size: 1.25rem;
    text-align: center;
    color: #999999;
}
.line1{
    margin-top: 2.8125rem;
}