iframe,video, img{
    max-width: 100%;
}

.section01_inner .title_wrap{
    margin-top: 8.9rem;
}

.container{
    height: auto;
    margin-bottom: 13rem;
}
/* 제목 */
.title_under_wrap .title_badge{
    width: 27.4rem;
}

/* 비디오 및 리스트 */
.container:nth-of-type(6),
.container:first-of-type{
    margin-top: 16.3rem;
}

.container:nth-child(5),
.container:nth-child(8){
    margin-bottom: 11.4rem;
}

.container h2{
    font-size:2.4rem;
    font-weight: 600;
    padding-bottom: 4rem;
}

.concert .watch_list{
    height: 59vh;
    display: flex;
}

.concert .watch_list .watch{
    display: flex;
    flex: 1;
    width: 48.89%;
    height: 59vh;
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
}

.concert .watch_list .watch .poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지 비율 유지 */
    z-index: 1; /* iframe 아래에 위치 */
    display: block; /* 기본적으로 보이도록 설정 */
    object-fit: cover;
}

.concert .watch_list .watch .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.concert .watch_list .btn_start{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none; /* 버튼 배경 없앰 */
    border: none; /* 버튼 테두리 없앰 */
    cursor: pointer;
    z-index: 2; /* 버튼이 비디오 위에 놓이도록 */
}

.concert .watch_list .list_text_wrap{
    width: 48.89%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    border-top: 1px solid;
    border-bottom: 1px solid;
    overflow: hidden;
    overflow: scroll;
    margin-left: 7rem;
    top: 0; 
    left: 0;
}

/* 스크롤 바 스타일 (웹킷 브라우저 전용) */
.concert .watch_list .list_text_wrap::-webkit-scrollbar {
    width: 1rem; /* 스크롤 바의 너비 */
}

.concert .watch_list .list_text_wrap::-webkit-scrollbar-track {
    background: #fff; /* 스크롤 바의 배경 */
    border-radius: 1.2rem; /* 스크롤 바의 모서리 둥글게 */
}

.concert .watch_list .list_text_wrap::-webkit-scrollbar-thumb {
    background: var(--grayscale-400); /* 핸들의 기본 색상 */
    border-radius: 1.2rem; /* 핸들의 모서리 둥글게 */
    height: var(--scrollbar-thumb-height, 227px); /* 기본 핸들 높이 설정 */
}


.concert .watch_list .list_text_wrap .ico_text_wrap{
    display: flex;
    font-size: 1.1vw;
    font-weight: 400;
    padding: 4.3rem 3.6rem 4.3rem 2.1rem;
    border-bottom: 1px solid #969393;
}

.concert .watch_list .list_text_wrap .ico_text_wrap:last-of-type{
    border: 0;
}

.concert .watch_list .list_text_wrap .ico_text_wrap .ico{
    display: flex;
    flex: 1;
}

.concert .watch_list .list_text_wrap .ico_text_wrap .ico p{
    padding-left: 1.9rem;
 }

.concert .watch_list .list_text_wrap .text{
    width: 58.7%;
    display: flex;
    flex: 3;
    justify-content: space-between;
    margin-left: 6.5%;

}

.concert .watch_list .list_text_wrap .text h3{
    font-size: 1.1vw;
    font-weight: 400;
}

/* 페이지네이션 */
.concert .page_wrap{
    display: flex;
    justify-content: center;
}

.concert .page_wrap .page{
    display: flex;
    justify-content: space-between;
    width: 25.7rem;
}

.concert .page_wrap .page .page_btn{
    font-size: 2.4rem;
    font-weight: 700;
    padding: 1.2rem 2rem;
    color: var(--grayscale-400);
}

.concert .page_wrap .page .page_btn.active {
    color: #000; 
}

@media screen and (max-width: 1900px){
    .concert .watch_list .list_text_wrap .ico_text_wrap{
        padding: 3rem 2rem;
    }

    .concert .watch_list .list_text_wrap .ico{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1492px){
    .concert .watch_list .watch{
        height: 80%;
    }

    .concert .watch_list .list_text_wrap{
        height: 80%;
    }

    .concert .watch_list .list_text_wrap .text{
        margin-left: 5%;
    }
}

@media screen and (max-width: 1138px){
    .container{
        margin-top: -20rem;
    }

    .container h2{
        font-size: 2.2rem;
    }

    .concert .watch_list .watch{
        height: 50%;
    }

    .concert .watch_list .btn_start{
        width: 8rem;
    }

    .concert .watch_list .list_text_wrap{
        height: 50%;
    }

    .concert .watch_list .list_text_wrap .ico_text_wrap{
        font-size: 1.6rem;
    }

    .concert .watch_list .list_text_wrap .ico_text_wrap .ico img{
        display: none;
    }

    .concert .watch_list .list_text_wrap .ico_text_wrap .ico p{
        padding-left: 0;
    }

    .concert .watch_list .list_text_wrap .text{
        margin-left: 0;
    }

    .concert .watch_list .list_text_wrap .text h3{
        font-size: 1.6rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media screen and (max-width: 768px){
    .container{
        margin-bottom: 35rem;
    }

    .section01_inner > .title_wrap{
        margin-top: 6.9rem;
    }

    .concert .watch_list{
        flex-direction: column;
    }

    .concert .watch_list .watch{
        width: 100%;
        margin-bottom: 3rem;
    }

    .concert .watch_list .list_text_wrap{
        margin-left: 0;
        width: 100%;
    }

}

@media screen and (max-width: 430px){
    .section01_inner > .title_wrap .title_under_wrap .title_badge{
        width: 21rem;
    }

    .container:nth-of-type(6), .container:first-of-type{
        margin-top: 9.2rem;
    }

    .container{
        margin-top: -32rem;
    }

    .container h2{
        font-size: 1.6rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-bottom: 1.2rem;
    }

    .concert .watch_list{
        height: 40vh;
    }

    .concert .watch_list .watch{
        margin-bottom: 2rem;
        height: 160px;
    }

    .concert .watch_list .btn_start{
        width: 6rem;
    }

    .concert .watch_list .list_text_wrap{
        height: 200px;
    }

    .concert .watch_list .list_text_wrap .ico_text_wrap{
        padding: 1rem 2.3rem 1rem 1.7rem;
    }    

    .concert .watch_list .list_text_wrap .ico_text_wrap .ico{
        margin-right: 1.8rem;
    }

    .concert .watch_list .list_text_wrap .ico_text_wrap .ico p{
        font-size: 1.4rem;
    }

    .concert .watch_list .list_text_wrap .ico_text_wrap .text p{
        display: none;
    }


}